@mixin movingBackground {
  height: 100%;
  z-index: 2;
}

.question {
  position: relative;
  .questionContainer {
    width: 100%;
    height: 100%;
    padding: 0 10rem;
    .infoRow {
      .questionText {
        max-width: 25rem;
        color: #fff;
        .navigator {
          display: flex;
          width: 10rem;
          .dot {
            width: 1rem;
            height: 1rem;
            border: 2px solid #fff;
            border-radius: 50%;
            opacity: 0.7;
          }
          .fill {
            background-color: var(--wtq-green);
          }
        }
        h1 {
          font-size: 6rem;
        }
        h2 {
          width: 20rem;
          font-size: 2rem;
        }
      }
      .questionAnswerContainer {
        max-width: 25rem;
        padding: 0;
        .questionAnswer {
          background-color: var(--header-backgorund);
          .header {
            background-color: var(--wtq-green-dark);
            color: #fff;
          }
        }
      }
    }
    .choiceRow {
      .questionChoices {
        .customButton {
          width: 25rem;
          border-radius: 0;
          font-weight: 600;
          color: var(--wtq-blue-dark);
        }
      }
    }
    .percentageRow {
      .percentage {
        .rightPercentage,
        .falsePercentage {
          width: 25rem;
          height: 3rem;
          background-color: #fff;
          color: #fff;
          p {
            font-size: 1.125rem;
          }
        }
        .rightPercentage {
          .movingBackgroundRight {
            width: 5rem;
            background-color: var(--wtq-red);
            @include movingBackground;
          }
        }
        .falsePercentage {
          .movingBackgroundLeft {
            width: 5rem;
            background-color: var(--wtq-green-dark);
            @include movingBackground;
          }
        }
      }
    }
  }
  .nextButton {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 1rem;
    background-color: var(--wtq-blue-dark);
    opacity: 0.9;
  }
}
