.homeContainer {
  position: relative;
  .textContainer {
    width: 100%;
    height: 100%;
    .heroText {
      text-align: center;
      color: #fff;
      h1 {
        font-size: 6rem;
      }
      h5 {
        font-weight: 300;
      }
      .customButton {
        background-color: var(--wtq-blue-dark);
        border: none;
        &:hover {
          background-color: #3c82f3;
        }
      }
    }
  }
}
